.modalContack {
  background: rgb(126, 5, 150);
  border-radius: 8px;
  padding: 30px;
  width: 500px;
  margin: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0.9);
}

.modalTitle {
  margin-bottom: 20px;
  font-weight: 800;
  text-align: center;
  color: #f8f5f5;
}

.modalBtn {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #f6f1f1;
  color: #c20d0d;
}

.modalTitleBtn {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
