.contactForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #8e2de2;
  background: #f5f3f7;
  width: 500px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.contactForm:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contactFormTitle {
  margin-bottom: 5px;
  color: #6a1b9a;
  font-weight: bold;
}

.contactFormTitle:not(:first-child) {
  margin-top: 10px;
}

.contactFormInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8e2de2;
  background-color: #fff;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contactFormInput:focus {
  border-color: #6a1b9a;
  box-shadow: 0 0 8px rgba(106, 27, 154, 0.5);
  outline: none;
}

.contactFormError {
  color: #c40f0f;
  font-size: 14px;
  margin-top: 5px;
}

.contactBtnAdd {
  margin-top: 20px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8e2de2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contactBtnAdd:hover {
  background-color: #6a1b9a;
  transform: scale(1.05);
}

.contactBtnAdd:active {
  background-color: #4a148c;
  transform: scale(0.95);
}
