:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(150, 100, 242, 1) 0%,
    rgba(247, 244, 239, 1) 63%,
    rgba(241, 228, 209, 1) 100%
  );
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
